<ion-header>
  <ion-toolbar>
    <ion-title>Store Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div *ngIf="loading" class="ion-text-center">
    <br><br>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="loading == false">

  <p class="ion-padding">
    Welcome, <b>{{data['shop_name']}}</b>
    <br>
    <small>
     {{data['address']}}
    </small>
  </p>

  <ion-item-group>
    <ion-item-divider>
      <ion-label style="font-size: 11.5px;color:grey">Gwalior Covid19 Helpline Numbers</ion-label>
     
    </ion-item-divider>
  
    <ion-item (click) = "call();" lines="none">
        <ion-icon color="primary" name="call-outline" slot="start"></ion-icon>
        <ion-label style="font-weight: 300;"> 0751 - 2646605/06/07/08</ion-label>
    </ion-item>


  </ion-item-group>


  <ion-card>
    
    <ion-item lines="none">
      <ion-label>Store mark as Open / Close</ion-label>
      <ion-toggle (click)="store_status(status);" [(ngModel)]="status"></ion-toggle>
    </ion-item>

    <ion-card-content>
      Your store will not displayed in map if store set to close.
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-item lines="none">
      <ion-label>Heavy Crowd?</ion-label>
      <ion-toggle (click)="crowd_status(crowd);" [(ngModel)]="crowd"></ion-toggle>
    </ion-item>
    <ion-card-content>
      Unable to control the crowd in your store? Turn it on, Police will come to your store to control the crowd.
    </ion-card-content>
  </ion-card>


  <ion-button href="https://gwlcovidfree.in/app/CovidFree.apk" target="_blank" expand="full">Download CovidFree</ion-button>


</div>  


</ion-content>
