<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alert! Alert! Alert!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Report Crowd</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
      Have you seen Crowd? Help us protect them from Covid19.
    </ion-card-content>

  
  </ion-card>

  

  <ion-card>
    
    <ion-card-content>

      

        <ion-label position="stacked">Crowd Information</ion-label>
        <ion-textarea placeholder="Enter more information here like Address..."></ion-textarea>
     
      <br>
      Your info will remain secret.
    
    <br>
    <br>
      <ion-button size="small" expand="full">Send Message</ion-button>
  

    </ion-card-content>

 
  </ion-card>




</ion-content>
