<ion-content [fullscreen]="true">


  <div id="container">
      
  <div class="ion-padding-bottom">
    <img style="height:80px;" src="https://cdn.s3waas.gov.in/s3e369853df766fa44e1ed0ff613f563bd/uploads/2019/05/2019052939.jpg">
    <h3 style="color:grey;font-weight :200;">CovidFree Store Manager</h3>
  
  </div>
    <ion-item>
      <ion-label stacked>Phone No.</ion-label>
      <ion-input [(ngModel)]="phone"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  
    <div class="ion-margin-top">
      <ion-button  margin-right (click)="signUp()">
        SIGN UP
      </ion-button>
  
      <ion-button *ngIf="login == false" color="secondary" (click)="signIn(phone, password)">
        SIGN IN
      </ion-button>

      <ion-button *ngIf="login" color="secondary" (click)="signIn(phone, password)">
        SIGNING IN
      </ion-button>


    </div>
   </div>
</ion-content>
