ion-content ion-toolbar {
  --background: translucent;
}

.button0 {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}


.button5 {border-radius: 50%;}